<p>
  <mat-toolbar color="primary">
    <a style="text-decoration: none; color: white" [routerLink]="['/']"
      >Ecommerce Project</a
    >
    <span class="example-spacer"></span>
    <span *ngIf="isUserLoggedIn">Hey! {{ userDetails.name }}</span>
    <span class="example-spacer"></span>
    <p style="margin-right: 20px">
      <span matBadge="{{ cartProducts.length }}" matBadgeOverlap="false"
        >Cart</span
      >
    </p>
    <span
      style="margin-right: 10px"
      *ngIf="!isUserLoggedIn"
      [routerLink]="['/login']"
      >Login/Register</span
    >
    <span *ngIf="isUserLoggedIn" (click)="logOut()" style="margin-left: 20px"
      >Log Out</span
    >
  </mat-toolbar>
</p>

<router-outlet></router-outlet>
